<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <testsuites>
        <testsuite name="Linna Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <php>
        <var name="pdo_mysql_dsn" value="mysql:host=localhost;dbname=linna_db;charset=utf8mb4"/> 
        <var name="pdo_mysql_user" value="root" />
        <var name="pdo_mysql_password" value="cagiva" />
        <var name="mem_host" value="localhost" />
        <var name="mem_port" value="11211"/>
        <var name="mongodb_server_string" value="mongodb://localhost:27017"/> 
    </php>
</phpunit>
