<phpunit  colors="true" 
          bootstrap="tests/bootstrap.php"
          verbose="true"
>
    <testsuites>
        <testsuite name="Linna Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <php>
        <var name="pdo_mysql_dsn" value="mysql:host=localhost;dbname=test;charset=utf8mb4"/> 
        <var name="pdo_mysql_user" value="root" />
        <var name="pdo_mysql_password" value="" />
        <var name="mem_host" value="localhost" />
        <var name="mem_port" value="11211"/>
        <var name="mongodb_server_string" value="mongodb://localhost:27017"/> 
    </php>
</phpunit>